@media (min-width:641px) AND (max-width:960px) {
  :root {
    /* touch-action: pan-x pan-y; */
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 24px;
    font-weight: 400;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    /* display: none; */
    background-color: #5a5a5a;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}