@media (min-width:641px) AND (max-width:960px) {
	#save-menu {
		display: none;
		flex-flow: row wrap;
		flex-wrap: wrap;
		width: 92%;
		height: 77%;
		border-radius: 40px;
		overflow: hidden;
		padding: 24px;
		background-color: #3b3b3b;
		justify-content: center;
	}

	#save-menu button {
		height: 10%;
		width: 29%;
	}

	#save-go-back {
		margin: 1%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}

	#save-pixel-art {
		margin: 1%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}
	
	#erase-save {
		margin: 1%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}
	
	#pixel-board-panel-save {
		border-radius: 5px;
    margin: 1%;
    display: flex;
    height: 75%;
    width: 95%;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #6f6f6f;
    align-items: center;
	}

	#no-drawing-save {
		margin: auto;
	}

	#erase-save-menu * {
		display: block;
		margin: 2%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}

	#erase-save-menu {
		display: none;
		transform: scale(2);
		background-color: #3f3f3f;
		height: 19%;
		width: 20%;
		align-items: center;
		justify-content: space-evenly;
		border-radius: 10px;
	}


	#saved-boards {
		background-color: #ffffff;
		transform: scale(0.4);
	}

	#saved-boards-centralizer {
		transition: all 1s;
		box-shadow: 1px 1px 0px 2vh #3b3b3b;
	}

	#no-save-menu {
		flex-direction: column;
	}

	#no-save-menu * {
		margin: 2%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}

	#no-save-selected {
		padding: 24%;
		text-align: center;
		margin: 2%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}

	.aqui {
		opacity: 0.9;
	}
}