@media (min-width:641px) AND (max-width:960px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #5a5a5a;
    box-shadow: inset 0px 1px 10px 3px #00000069;
    border: solid 3px #17121213;
  }

  ::-webkit-scrollbar-thumb {
    background: #727272;
    box-shadow: inset 0px 0px 8px 10px #000000ab, 0px 1px 11px 9px #00000069;
    border: ridge #363636;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #989898;
  }

  ::-webkit-scrollbar-corner {
    background-color: #3b3b3b;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 2s;
    background-color: #ffffff;
  }

  #loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    transition: all 2s ease;
    position: absolute;
    font-size: 20px;
    top: 40vh;
    left: 46vw;
    transition: all 1.9s ease;
  }

  #loading,
  #loading-count {
    transition: all 1.9s ease;
  }

  #opening-image-one {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 110%;
    left: 46%;
    transition: all 3s ease-in-out;
  }

  #opening-image-two {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 110%;
    left: -46%;
    transition: all 3s ease-in-out;
  }

  #opening-image-three {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 110%;
    transition: all 2s ease;
  }

  #app {
    opacity: 0;
    margin: 4vh 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    box-shadow: inset 0px 0px 0px 11px #222222;
    background-color: #222222;
  }

  #header {
    opacity: 0;
    font-size: 1.8vh;
    display: flex;
    color: #efefef;
    background-color: #3f3f3f;
    height: 4vh;
    width: 100vw;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    float: left 33%;
    z-index: 10;
  }

  #footer {
    opacity: 0;
    font-size: 1.8vh;
    display: flex;
    color: #efefef;
    background-color: #3f3f3f;
    height: 4vh;
    width: 100vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 10;
  }

  footer a {
    display: flex;
    text-decoration: none;
    color: #efefef;
    align-items: center;
  }

  #one {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    position: relative;
    align-items: center;
    overflow: hidden;
  }
  
  #hide-control-panel {
    display: none;
  }
  
  #control-panel {
    overflow: hidden;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    display: flex;
    height: 96%;
    width: 15%;
    margin: 1%;
    flex-flow: row wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  #pixel-board-panel {
    background-color: #3b3b3b;
    border-radius: 20px;
    display: flex;
    height: 97%;
    width: 82%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

  }

  .control-panel-children {
    overflow: hidden;
    display: flex;
    border-radius: 5px;
    background: #3f3f3f;
    color: whitesmoke;
    height: 3%;
    width: 89%;
    font-size: 1.5vh;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 1px 20px #222222, 1px 1px 0 3px #222222;
  }

  #control-panel button {
    background: #3f3f3f;
    color: whitesmoke;
    height: 3%;
    width: 89%;
    font-size: 1.4vh;
    box-shadow: 1px 1px 0 3px #222222;
    cursor: pointer;
  }

  #pixel-board {
    display: flex;
    box-shadow: none;
    /* overflow: scroll; */
    width: 92%;
    height: 96%;
  }

  #pixel-board-centralizer {
    margin: auto;
    box-shadow: none;
  }

  #pixel-board-table {
    background-color: #fff;
    border-spacing: 0;
    margin: 10px;
  }

  .pixel-line {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pixel {
    background-color: #fff;
    box-shadow: inset 0px 0px 0 0.3px #0000007c;
    width: 2vw;
    height: 2vw;
    margin: 0;
    border-spacing: 0;
    margin: -0.2px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
    padding: 2%;
    padding-left: 2%;
    width: 18%;
    height: 30%;
    font-size: 9px;
    transition: all 1s;
  }
  
  input[type=number]:focus {
    padding-left: 1%;
    position: absolute;
    left: 2%;
    top: -1%;
    font-size: 39px;
    border: none;
    box-shadow: inset #222222 0px 1px 20px 20px, inset #222222 0px 1px 11px 7px, #222222 1px 1px 0px 20px;
    width: 9%;
    height: 29%;
    border-bottom: solid #222222 50vh;
    border-top: solid #222222 11vh;
    z-index: 999;
  }

  #saved-color {
    width: 90%;
    height: 40%;
  }

  .color-line {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .color {
    margin: 1%;
    width: 5vw;
    height: 1.4vw;
  }
}