@media (hover: hover) {
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 24px;
    font-weight: 400;
    height: 100%;
    width: 100%;

    background-color: #5a5a5a;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  ::-webkit-scrollbar {
    width: 30px;
    height: 30px;
    transition: 1s all ease-in-out;
  }

  ::-webkit-scrollbar-track {
    background: #5a5a5a;
    box-shadow: inset 0px 1px 10px 3px #00000069;
    border: solid 3px #17121213;
  }

  ::-webkit-scrollbar-thumb {
    background: #727272;
    box-shadow: inset 0px 0px 8px 10px #000000ab, 0px 1px 11px 9px #00000069;
    border: ridge #363636;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #989898;
  }

  ::-webkit-scrollbar-corner {
    background-color: #3b3b3b;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 2s;
    background-color: #ffffff;
  }

  #loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    transition: all 2s ease;
    position: absolute;
    font-size: 20px;
    top: 40vh;
    left: 46vw;
    transition: all 1.9s ease;
  }

  #loading,
  #loading-count {
    transition: all 1.9s ease;
  }

  #opening-image-one {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 110%;
    left: 46%;
    transition: all 3s ease-in-out;
  }

  #opening-image-two {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 110%;
    left: -46%;
    transition: all 3s ease-in-out;
  }

  #opening-image-three {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 110%;
    transition: all 2s ease;
  }

  .app {
    opacity: 0;
    margin: 4vh 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    box-shadow: inset 0px 0px 0px 11px #222222;
    background-color: #222222;
    transition: all 2s;
  }

  #header {
    opacity: 0;
    font-size: 1.8vh;
    display: flex;
    color: #efefef;
    background-color: #3f3f3f;
    height: 4vh;
    width: 100vw;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    float: left 33%;
    z-index: 10;
  }

  #footer {
    opacity: 0;
    font-size: 1.8vh;
    display: flex;
    color: #efefef;
    background-color: #3f3f3f;
    height: 4vh;
    width: 100vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 10;
  }

  footer a {
    display: flex;
    text-decoration: none;
    color: #efefef;
    align-items: center;
  }

  .app-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    position: relative;
    align-items: center;
    transition: all 1s;
  }

  .app-container-first-step {
    transition: all 0s;
    opacity: 0;
    transform: scale(0);
  }

  .app-container-second-step {
    transition: all 1s;
  }

  .diminish {
    transform: scale(0);
    opacity: 0;
  }

  .desapear {
    position: absolute;
  }

  #hide-control-panel {
    display: none;
  }

  #control-panel {
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    display: flex;
    height: 96%;
    width: 21%;
    margin: 1%;
    flex-flow: row wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  #pixel-board-panel {
    background-color: #3b3b3b;
    border-radius: 20px;
    display: flex;
    height: 97%;
    width: 76%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .control-panel-children {
    display: flex;
    border-radius: 5px;
    background: #3f3f3f;
    color: whitesmoke;
    height: 3%;
    width: 86%;
    font-size: 1.1vw;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 1px 20px #222222, inset 0px 0px 2px 0px #ffffff, 1px 1px 0 3px #222222;
    padding: 1.5%;
  }

  #control-panel button {
    padding: 4%;
    background: #3f3f3f;
    color: whitesmoke;
    height: 3%;
    width: 89%;
    font-size: 1.1vw;
    box-shadow: 1px 1px 0 3px #222222;
    cursor: pointer;
  }

  #pixel-board {
    display: flex;
    box-shadow: none;
    overflow: scroll;
    width: 92%;
    height: 96%;
  }

  #pixel-board-centralizer {
    margin: auto;
    box-shadow: none;
  }

  #pixel-board-table {
    filter: drop-shadow(1px 22px 13px black);
    border-spacing: 0;
    margin: 10px;
    padding-right: 15vw;
    transform: scale(1);
    transform: rotate3d(1, 1, 1, 0deg);
    transition: all 1s;
  }

  .pixel-line {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pixel {
    background-color: #ffffff;
    box-shadow: inset 0px 0px 0 0.3px #0000007c;
    border-spacing: 0;
    margin: -0.1px;
    transition: 0.2 all ease-in-out;
  }

  .pixel:hover {
    transform: scale(0.9);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    padding: 3%;
    padding-left: 0%;
    padding-right: 0%;
    width: 24%;
    height: 30%;
    font-size: 1vw;
  }

  #saved-color {
    width: 90%;
    height: 26%;
  }

  .color-line {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .color {
    border-radius: 100px;
    box-shadow: inset 1px 1px 4px 0px white, 1px 1px 6px 2px black;
    margin: 1%;
    width: 5vw;
    height: 3.5vh;
  }

  .download-drawing-in-svg {
    background: #575757;
    position: absolute;
    z-index: 25;
    bottom: 20vh;
    right: 8vw;
    border-radius: 2vh;
    padding: 1vh;
    font-size: 2vh;
    box-shadow: 1px 1px 0 2px #000000, inset 1px 2px 0px 0px #717171;
    color: whitesmoke;
    transition: all 1s ease-in-out;
  }

  .download-drawing-in-png {
    background: #575757;
    position: absolute;
    z-index: 25;
    bottom: 10vh;
    right: 8vw;
    border-radius: 2vh;
    padding: 1vh;
    font-size: 2vh;
    box-shadow: 1px 1px 0 2px #000000, inset 1px 2px 0px 0px #717171;
    color: whitesmoke;
    transition: all 1s ease-in-out;
  }

  #board-size-selector {
    text-align: center;
    border-radius: 14px;
    margin-left: 10px;
    overflow: scroll;
  }

  #debbug {
    position: absolute;
    top: 90%;
    font-size: 20%;
    background-color: rgb(246, 246, 246);
    box-shadow: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    height: fit-content;
    width: fit-content;
    line-height: 0px;
  }

  #github-icon {
    width: 2.5vh;
    margin-left: 4px;
    border-radius: 100%;
    padding: 2px;
    background-color: #e60101;
    animation: change-color 10s ease-in-out infinite;
    filter: hue-rotate(196deg);
  }

  @keyframes change-color {
    0% {
      filter: hue-rotate(1deg);
      transform: scale(1.3)
    }

    25% {
      filter: hue-rotate(80deg);
      transform: scale(1)
    }

    50% {
      filter: hue-rotate(170deg);
      transform: scale(1.3)
    }

    75% {
      filter: hue-rotate(260deg);
      transform: scale(1)
    }

    100% {
      filter: hue-rotate(355deg);
      transform: scale(1.3)
    }
  }

  #load-menu {
    display: flex;
    transform: scale(0);
    position: absolute;
    transition: all 1s;
    flex-flow: row wrap;
    flex-wrap: wrap;
    width: 92%;
    height: 85%;
    border-radius: 40px;
    overflow: hidden;
    padding: 24px;
    background-color: #3b3b3b;
    justify-content: center;
  }

  #load-menu * {
    color: whitesmoke;
    font-size: 1.5vw;
  }

  #load-menu button {
    background-color: #3b3b3b;
    height: 7%;
    width: 29%;
  }

  #load-back-main {
    margin: 2%;
    background-color: #6f6f6f;
    border-radius: 10px;
  }

  #load-pixel-art {
    margin: 2%;
    background-color: #6f6f6f;
    border-radius: 10px;
  }

  #pixel-board-panel-load {
    border-radius: 10px;
    margin: 2%;
    display: flex;
    height: 79%;
    width: 95%;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #6f6f6f;
  }

  #no-drawing-load {
    margin: auto;
  }

  #no-load-menu {
    display: none;
    background-color: #3b3b3b;
    border-radius: 10px;
    flex-direction: column;
    transform: scale(2.5);
  }

  #no-load-menu * {
    color: whitesmoke;
    margin: 2%;
    background-color: #3b3b3b;
    border-radius: 5px;
  }

  #no-load-selected {
    text-align: center;
    padding: 1%;
    margin: 4%;
    background-color: #6f6f6f;
    border-radius: 8px;
    color: whitesmoke;
  }

  #pencil-color {
    width: 84%;
    display: flex;
    max-width: 2000px;
    height: 38%;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
  }

  #pencil-color-selector-container {
    overflow: hidden;
    width: 4.4vw;
    height: 2.2vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 0px;
    margin-left: 10px;
    box-shadow: inset 1px 1px 4px 0px white, 1px 1px 6px 2px black;
  }

  input[type="color"] {
    width: 4.6vw;
    height: 4vh;
    border-radius: 100px;
    margin: -25%;
    box-shadow: inset 1px 1px 19px 10px black;
  }

  #copy-color-from-board {
    background-color: #7fffd45e;
    filter: hue-rotate(1);
    transition: all 2s;
  }

  .shine {
    box-shadow: 0px 0px 6px 1px #be08f2, 1px -1px 0 3px #222222, inset 0px 0px 11px 0px #0300ff;
    animation: shine-change-color 2s ease-in-out infinite;
  }

  @keyframes shine-change-color {
    0% {
      filter: hue-rotate(1deg);
    }

    25% {
      filter: hue-rotate(80deg);
    }

    50% {
      filter: hue-rotate(170deg);
    }

    75% {
      filter: hue-rotate(260deg);
    }

    100% {
      filter: hue-rotate(355deg);
    }
  }

  #save-menu {
    display: flex;
    transform: scale(0);
    position: absolute;
    transition: all 1s;
    flex-flow: row wrap;
    flex-wrap: wrap;
    width: 92%;
    height: 85%;
    border-radius: 40px;
    overflow: hidden;
    padding: 24px;
    background-color: #3b3b3b;
    justify-content: center;
  }

  #save-menu * {
    color: whitesmoke;
    font-size: 1.5vw;
  }

  #save-menu button {
    height: 7%;
    width: 29%;
  }

  #save-go-back {
    margin: 2%;
    background-color: #3b3b3b;
    border-radius: 10px;
  }

  #save-pixel-art {
    margin: 2%;
    background-color: #3b3b3b;
    border-radius: 10px;
  }

  #pixel-board-panel-save {
    border-radius: 5px;
    margin: 2%;
    display: flex;
    height: 79%;
    width: 95%;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #6f6f6f;
  }

  #no-drawing-save {
    margin: auto;
  }

  #erase-save-menu * {
    display: block;
    margin: 2%;
    background-color: #6f6f6f;
    border-radius: 5px;
  }

  #erase-save-menu {
    display: none;
    transform: scale(2.5);
    background-color: #3f3f3f;
    height: 19%;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
  }

  #erase-save {
    margin: 2%;
    background-color: #3b3b3b;
    border-radius: 10px;
  }

  #saved-boards {
    background-color: #ffffff;
    transform: scale(0.6);
    filter: drop-shadow(1px 15px 13px black);
  }

  #saved-boards-centralizer {
    transition: all 1s;
    box-shadow: 1px 1px 0px 2vh #3b3b3b;
  }

  #no-save-menu {
    display: none;
    background-color: #3b3b3b;
    border-radius: 10px;
    flex-direction: column;
    transform: scale(2.5);
  }

  #no-save-menu * {
    color: whitesmoke;
    margin: 2%;
    background-color: #3b3b3b;
    border-radius: 5px;
  }

  #no-save-selected {
    text-align: center;
    padding: 1%;
    margin: 4%;
    background-color: #6f6f6f;
    border-radius: 8px;
    color: whitesmoke;
  }

  #tutorial {
    display: flex;
    padding: 1%;
    position: absolute;
    top: 6.9%;
    right: 1.3%;
    z-index: 9;
    background-color: aliceblue;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
    line-height: 2.5vh;
    transition: all 1s;
  }

  #hide-tutorial {
    width: 2vw;
    height: 2vw;
    background-color: #c4c4c4;
    top: 10px;
    right: 140px;
    border-radius: 100%;
    transition: all 1s;
  }

  #hide-tutorial-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    transition: all 1s;
  }

  #info {
    height: 26vh;
    overflow: hidden;
    transition: all 1s;
  }

  #zoom-selector {
    margin-left: 10px;
    text-align: center;
    border-radius: 14px;
  }
}