@media (max-width:420px) {
	#debbug {
		position: absolute;
		top: 90%;
		font-size: 20%;
		background-color: rgb(246, 246, 246);
		box-shadow: none;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		border: none;
		height: fit-content;
		width: fit-content;
		line-height: 0px;
		/* display: none; */
	}
}