@media (max-width:420px) {
	#load-menu {
		display: none;
		flex-direction: column;
		width: 76%;
		height: 84%;
		border-radius: 40px;
		overflow: hidden;
		padding: 24px;
		background-color: #3b3b3b;
		transition: all 10s;
	}

	#load-back-main {
		margin: 2%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}

	#load-pixel-art {
		margin: 2%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}

	#pixel-board-panel-load {
		border-radius: 5px;
		margin: 2%;
		display: flex;
		/* width: 100%; */
		height: 78%;
		/* transform: scale(0.5); */
		flex-direction: row;
		align-items: center;
		overflow-x: scroll;
		overflow-y: hidden;
		background-color: #6f6f6f;
	}

	#no-drawing-load {
		margin: auto;
	}

	#no-load-menu {
		flex-direction: column;
	}

	#no-load-menu * {
		margin: 2%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}

	#no-load-selected {
		padding: 24%;
		text-align: center;
		margin: 2%;
		background-color: #6f6f6f;
		border-radius: 5px;
	}
}