@media (max-width:420px) {
	#pencil-color {
		width: 84%;
		display: flex;
		max-width: 2000px;
		height: 38%;
		flex-direction: row;
		align-content: space-around;
		align-items: center;
		justify-content: space-around;
	}

	#pencil-color-selector-container {
		overflow: hidden;
		width: 23px;
		height: 11px;
		border-radius: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3px;
	}

	input[type="color"] {
		padding: 0;
		width: 50vw;
		height: 50vh;
		margin: -25%;
    border: solid 0px black;
	}

	#copy-color-from-board {
		background-color: #7fffd45e;
		filter: hue-rotate(1);
		transition: all 0.2s;
	}
}