@media (max-width:420px) {
	#zoom {
		display: none;
	}

	#zoom-selector {
		/* font-size: 11px; */
		/* width: 30px;
	height: 17px; */
		text-align: center;
		/* padding: 2px; */
		border-radius: 5px;
		/* margin-left: 3px; */
		overflow: scroll;
	}
}